.square {
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  text-align: center;
  
}

.board {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
}